<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xujiaao.android.firmata">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.google.android.things.permission.MANAGE_BLUETOOTH" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application>

        <uses-library
            android:name="com.google.android.things"
            android:required="false" />

        <!-- *********************************************************************************** -->
        <!-- Transport Provider (Network) -->
        <!-- *********************************************************************************** -->

        <meta-data
            android:name="com.xujiaao.android.firmata.transport.provider.TCP"
            android:value="com.xujiaao.android.firmata.transport.network.NetworkTransportProvider" />

        <meta-data
            android:name="com.xujiaao.android.firmata.transport.provider.WIFI"
            android:value="com.xujiaao.android.firmata.transport.network.NetworkTransportProvider" />

        <!-- *********************************************************************************** -->
        <!-- Transport Provider (Bluetooth) -->
        <!-- *********************************************************************************** -->

        <meta-data
            android:name="com.xujiaao.android.firmata.transport.provider.BT"
            android:value="com.xujiaao.android.firmata.transport.bluetooth.BluetoothTransportProvider" />

        <meta-data
            android:name="com.xujiaao.android.firmata.transport.provider.BLUETOOTH"
            android:value="com.xujiaao.android.firmata.transport.bluetooth.BluetoothTransportProvider" />

        <!-- *********************************************************************************** -->
        <!-- Transport Provider (USB) -->
        <!-- *********************************************************************************** -->

        <meta-data
            android:name="com.xujiaao.android.firmata.transport.provider.USB"
            android:value="com.xujiaao.android.firmata.transport.usb.UsbTransportProvider" />
    </application>
</manifest>